body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
}

#logo {
  width: 15%;
  height: 15%;
  border-radius: 40px;
}

main {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background-color: #ffc107;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #e0a800;
}

.pet-card {
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
  background-color: #f1f9ff;
}

.pet-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.pet-info {
  margin-left: 20px;
}

nav {
  text-align: center;
  margin-top: 15px;
}

nav button {
  margin: 5px;
  padding: 12px 20px;
  font-size: 18px;
}

.pet-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
/* ==== POP-UP DE CONFIRMAÇÃO ==== */

#popup-confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: #ffffff;
  width: 350px;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  border-top: 8px solid #007bff;
}

.popup-box h3 {
  margin: 0;
  font-size: 22px;
  color: #007bff;
}

.popup-box p {
  font-size: 16px;
  margin: 15px 0;
}

.popup-btns {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.popup-btns button {
  flex: 1;
  margin: 0 5px;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.btn-cancelar {
  background: #ccc;
}

.btn-confirmar {
  background: #ffc107;
}

.btn-confirmar:hover {
  background: #e0a800;
}
